@mixin title {
    color: #000;
    font-family: "Sarala",Sans-serif;
    font-size:clamp(40px,4vw,45px) ;
    font-weight: 600;
    text-align: center;
    background-color: #FFE70A;
    padding: 10px 12px;
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
}
.header {
    background: url(../img/key-3348307_1280-e1599809397338.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-container {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 70vh;
    gap: 20px;
}
.header-logo {
    padding: 10px;
    min-height: 150px;
    display: flex;
    align-items: center;
}
.header-logo__img {
    max-width: 280px;
    height: auto;
}
.header-title {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    text-align: right;
}
.header-title__h1 {
    color: #F3EE05;
    font-family: "Roboto",Sans-serif;
    font-size: 67px;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.header-title__h2 {
    color: #FAF9F9;
    font-family: "Roboto",Sans-serif;
    font-size: 44px;
    margin-top: 20px;
    font-weight: 600;
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.header-title__description {
    color: #fff;
    font-family: "Roboto",Sans-serif;
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 0;
    word-spacing: 0.2em;
    span {
        color: #eae80d;
        position: relative;
        &::before {
            content: '';
            width: 150%;
            height: 150%;
            background: url(../img/chrome_hpa1P8pHGT.png) no-repeat;
            background-size: cover;
            top: -15px;
            bottom: 0;
            left: -24px;
            right: 0;
            position: absolute;
        }
    }
}
.button {
    font-family: "Roboto",Sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 2.3px;
    background-color: transparent;
    background: linear-gradient(180deg,#DFD813 0%,#F3EE05 100%);
    border-radius: 40px 40px 40px 40px;
    text-decoration: none;
    color: #fff;
    padding: 20px 40px;
    transition: 0.5s;
    &:hover {
        color: #fff;
        background: linear-gradient(180deg,#d6cf0a 0%,#d6cf0a 100%);
        transition: 0.5s;
    }
}
//First section
.first-section-containre {
    padding: 0;
}
.first-wrapper {
    background-color: #c4c1c3;
}
.first-title {
    @include title;
}
.first-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 10px;
}
.first-items {
    text-align: center;
    background-color: #fff;
    // margin: 10px 5px;
}
.first-items__img {
    max-width: 100%;
    margin-bottom: 30px;
}
.first-items__name {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    padding: 0 10px;
}
.first-items__description {
    padding: 0 10px 30px;   
    color: #000;
    font-family: "Arial",Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
//Sectond section
.second-section {
    background: url(../img/999-1-scaled.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::before {
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: #020202;;
        widows: 100%;
        height: 100%;
        opacity: .48;
    }
}
.second-container {
    min-height: 320px;
    display: flex;
    align-items: center;

}
.second-text {
    color: #fff;
    font-size: 25px;
    text-align: center;
    position: relative;
    line-height: 40px;
    span {
        color: #ffff00;
    }
}



@media(max-width: 992px) {
    .first-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .header-title__h1 {
        font-size: 38px;
        margin-bottom: 100px;
    }
    .header-title {
        display: flex;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .header {
        height: 93vh;
    }
    .header-container {
        grid-template-rows: auto 78vh;
    }
    .header-logo {
        min-height: 0;
    }
}
@media (max-width: 576px) {
    .header-logo__img {
        max-width: 160px;
    }
    .header-title__h1 {
        font-size: 36px;
    }
    .header {
        height: 75vh!important;
    }
    .first-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
