body {
  outline: 1px solid red;
  margin: auto;
  padding: 0;
  font: 15px Helvetica, Arial, sans-serif;
  max-width: 1920px;
  min-width: 360px;
  color: #7a7a7a;
}

.header {
  background: url(../img/key-3348307_1280-e1599809397338.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.header-container {
  max-width: 1920px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 20px 70vh;
  grid-template-rows: auto 70vh;
  gap: 20px;
}

.header-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header-container > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.header-logo {
  padding: 10px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  max-width: 280px;
  height: auto;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 10px;
  text-align: right;
}

.header-title__h1 {
  color: #F3EE05;
  font-family: "Roboto", Sans-serif;
  font-size: 67px;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-title__h2 {
  color: #FAF9F9;
  font-family: "Roboto", Sans-serif;
  font-size: 44px;
  margin-top: 20px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-title__description {
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 41px;
  font-weight: 600;
  letter-spacing: 0;
  word-spacing: 0.2em;
}
.header-title__description span {
  color: #eae80d;
  position: relative;
}
.header-title__description span::before {
  content: "";
  width: 150%;
  height: 150%;
  background: url(../img/chrome_hpa1P8pHGT.png) no-repeat;
  background-size: cover;
  top: -15px;
  bottom: 0;
  left: -24px;
  right: 0;
  position: absolute;
}

.button {
  font-family: "Roboto", Sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 2.3px;
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#DFD813), to(#F3EE05));
  background: linear-gradient(180deg, #DFD813 0%, #F3EE05 100%);
  border-radius: 40px 40px 40px 40px;
  text-decoration: none;
  color: #fff;
  padding: 20px 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button:hover {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6cf0a), to(#d6cf0a));
  background: linear-gradient(180deg, #d6cf0a 0%, #d6cf0a 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.first-section-containre {
  padding: 0;
}

.first-wrapper {
  background-color: #c4c1c3;
}

.first-title {
  color: #000;
  font-family: "Sarala", Sans-serif;
  font-size: clamp(40px, 4vw, 45px);
  font-weight: 600;
  text-align: center;
  background-color: #FFE70A;
  padding: 10px 12px;
}

.first-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 10px;
}

.first-items {
  text-align: center;
  background-color: #fff;
}

.first-items__img {
  max-width: 100%;
  margin-bottom: 30px;
}

.first-items__name {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  padding: 0 10px;
}

.first-items__description {
  padding: 0 10px 30px;
  color: #000;
  font-family: "Arial", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.second-section {
  background: url(../img/999-1-scaled.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.second-section::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: #020202;
  widows: 100%;
  height: 100%;
  opacity: 0.48;
}

.second-container {
  max-width: 1500px;
  margin: 0 auto;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-text {
  color: #fff;
  font-size: 25px;
  text-align: center;
  position: relative;
  line-height: 40px;
}
.second-text span {
  color: #ffff00;
}

.third-container {
  max-width: 1500px;
  margin: 0 auto;
}

.third-title {
  color: #000;
  font-family: "Sarala", Sans-serif;
  font-size: clamp(40px, 4vw, 45px);
  font-weight: 600;
  text-align: center;
  background-color: #FFE70A;
  padding: 10px 12px;
}

.third-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.third-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.third-items__img {
  border: 2px solid #FFE70A;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  padding: 20px;
}

.third-items__name {
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 26px;
  color: #000;
}

.third-items__description {
  color: #000;
  font-family: "Arial", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.5px;
}

.fourth-section {
  background: url(../img/333-2-scaled.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.fourth-section::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.6;
}

.fourth-container {
  max-width: 1500px;
  margin: 0 auto;
}

.fourth-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.fourth-items {
  text-align: center;
  -ms-flex-preferred-size: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
  position: relative;
}

.fourth-items__img {
  width: 62px;
  height: 50px;
  margin-bottom: 20px;
}

.fourth-items__number {
  color: #F9FB01;
  font-family: "Dosis", Sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 2px;
}

.fourth-items__min-description {
  color: #F9FB01;
  font-family: "Dosis", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.fifth-title {
  color: #000;
  font-family: "Sarala", Sans-serif;
  font-size: clamp(40px, 4vw, 45px);
  font-weight: 600;
  text-align: center;
  background-color: #FFE70A;
  padding: 10px 12px;
  text-transform: uppercase;
}

.fifth-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.fifth-box__img {
  width: 100%;
}

.forms-box {
  max-width: 50%;
  margin: auto;
}

.forms-box__title {
  font-size: 35px;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
  position: relative;
}
.forms-box__title::before {
  content: url(../img/2chrome_NUKKi0amAS.png);
  top: -20px;
  bottom: 0;
  left: 0%;
  right: 0;
  width: 100%;
  height: 190%;
  position: absolute;
}

.forms-box__buttom {
  color: #fff;
  background-color: #61ce70;
  width: 100%;
}
.forms-box__buttom:hover {
  color: #fff;
  background-color: #00cf1c;
}

@media (max-width: 1200px) {
  .forms-box {
    max-width: 60%;
  }
}
@media (max-width: 992px) {
  .first-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .third-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .fourth-items {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
  }

  .fourth-box {
    row-gap: 100px;
  }

  .fifth-box {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .forms-box {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .header-title__h1 {
    font-size: 38px;
    margin-bottom: 100px;
  }

  .header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    padding: 0;
  }

  .header {
    height: 93vh;
  }

  .header-container {
    -ms-grid-rows: auto 78vh;
    grid-template-rows: auto 78vh;
  }

  .header-logo {
    min-height: 0;
  }

  .third-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .third-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .third-items__wrapper {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header-logo__img {
    max-width: 160px;
  }

  .header-title__h1 {
    font-size: 36px;
  }

  .header {
    height: 75vh !important;
  }

  .first-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .fourth-items {
    -ms-flex-preferred-size: calc(100% - 20px);
        flex-basis: calc(100% - 20px);
  }

  .fourth-box {
    row-gap: 50px;
  }

  .fifth-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .forms-box__title {
    font-size: 35px;
    line-height: 1.2;
    color: #000;
    font-weight: 700;
    position: relative;
  }
  .forms-box__title::before {
    content: "";
    background: none;
  }

  .forms-box__title {
    font-size: 26px;
  }
}